<h1> <%= @cocktail.name  %></h1>

<% @cocktail.doses.each do |dose| %>
  <li> <strong>Ingredient :</strong> <%= dose.ingredient.name %>, <strong>Dose : </strong><%= link_to "Description de la dose", dose_path(dose)%>  <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?"} do %>
    <i class="fas fa-trash-alt hello"></i>
    <% end %></li>
<% end %>

<div> <i class="fas fa-plus"></i> <%= link_to "Add an ingredient with a dose", new_cocktail_dose_path(@cocktail) %> </div>

<%= link_to "La liste des doses" , doses_path %>


<%= link_to "Back" , cocktails_path %>

